.idea/
*.iml
.vscode/

/vendor/
.pulumi/
Pulumi.*.yaml
.bin/
bin/
obj/
nuget/
node_modules/
__pycache__

**/command-output/

yarn.lock
**/pulumiManifest.go

ci-scripts
**/schema.go
**/version.txt


# Python Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST